body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.highlight {
  background-color: yellow;
}

.red {
	color: red;
}

.green {
	color: green;
}

.yellow {
	color: gold;
}

.blue {
	background-color: lightblue;
	height: 300px;
	width: 100px;
	border: 5px solid black;
}

.space {
	height: 150px;
}

.menu {
	background-color: #f1f1f1;
	height: 50px;
	color: #bdbdbd;
	margin-bottom: 30px;
	padding-top: 10px;
}

.reddit {
	padding: 0;
}

.posts {
	background-color: #f1f1f1;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
}

.image {
	margin-top: 25px;
	padding-right:;
	height: 200px;
	width: 300px;
	border-radius: 5px;
	border: 3px solid black;
}

.middle {
	padding-top: 12px;
	padding-left: 15px;
}

.description {
	padding-top: 50px;
}

.bottom {
	padding-top: 30px;
}

.red {
	color: red;
}

.green {
	color: green;
}

.posts.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.posts.ng-enter.ng-enter-active {
  opacity:1;
}

.posts.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.posts.ng-leave.ng-leave-active {
  opacity:0;
}